# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_50809/3657650218.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [95]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        


        #driver.execute_script("arguments[0].click();", next_buttons[x])
        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
#next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,20,Saël Kumbedi,Right-Back,"Mar 26, 2005",18,"[France, DR Congo]",France,Stains,RM LB,"1,75",€10.00m
1,33,Enzo Kalombola,Right-Back,"Jul 15, 2005",18,"[France, DR Congo]",France,Montfermeil,RM,"1,85",€50k
2,,Mathis Lefolle,Right-Back,"Sep 16, 2005",18,"[France, Portugal]",France,,LB,"1,82",-
3,,Bilal Faye,Right-Back,"Apr 7, 2005",18,"[Senegal, France]",France,Lens,CB,,-
4,,Anas Oulahcene,Right-Back,"May 13, 2005",18,"[France, Morocco]",France,Antony,LB,,-
5,,Kaïs Chiguer,Right-Back,"Mar 4, 2005",19,"[France, Morocco]",France,Troyes,,,-
6,,Morgan Costarelli,Right-Back,"Apr 28, 2005",18,[France],France,Tourcoing,CB,"1,70",-
7,,Adam Marsli,Right-Back,"Jan 1, 2005",19,"[Morocco, France]",France,Stains,,,-
8,,Ibrahim Coulibaly,Right-Back,"Dec 7, 2005",18,[France],France,Argenteuil,,,-
9,2,Côme Bianay Balcot,Right-Back,"May 13, 2005",18,[France],France,Saint-Mandé,CB RM,"1,88",-
10,,Whammal Wakidou,Right-Back,"Aug 21, 2005",18,"[France, Comoros]",France,Vierzon,RM,,-
11,,Farès Benarbia,Right-Back,"Jan 1, 2005",19,"[Algeria, France]",France,Lyon,,,-
12,,Ilan Sebbag,Right-Back,"Dec 3, 2005",18,"[France, Algeria]",France,Marseille,RW LW,,-
13,75,Khaled Al-Rammah,Right-Back,"Apr 30, 2005",18,"[Saudi Arabia, France]",France,Paris,,,€50k
14,29,Ylan Bekale,Right-Back,"Mar 18, 2005",18,[France],France,Saint-Aubin Les-Elbeuf,,"1,77",€10k
15,,Deen Adehoumi,Right-Back,"Mar 15, 2005",18,"[France, Benin]",France,Sèvres,LB,,-
16,,Enzo Cadiou,Right-Back,"Apr 1, 2005",18,[France],France,Laval,,"1,60",-
17,,Gianni D'Angelo,Right-Back,"Sep 2, 2005",18,"[Tunisia, France]",France,Mulhouse,,,-
18,,Zié Traoré,Right-Back,"Feb 19, 2005",19,[France],France,Bondy,RM,,-
19,,Mathis Cohade,Right-Back,"May 14, 2005",18,[France],France,Moulins,RM,,-
20,,Max-Henry Nicolas,Right-Back,"Apr 27, 2005",18,"[France, Guadeloupe]",France,Paris,,"1,83",-
21,,Kemryk Nagera,Right-Back,"May 31, 2005",18,"[France, Guadeloupe]",France,Stains,,,-
22,,Tanguy Lienard,Right-Back,"Apr 4, 2005",18,[France],France,Valenciennes,,"1,66",-
23,,Emmanuel Bably,Right-Back,"Dec 18, 2005",18,"[France, Cote d'Ivoire]",France,Créteil,,,-
24,,Ilias Bounassir-Roida,Right-Back,"Feb 1, 2005",19,"[France, Algeria]",France,Oyonnax,LB,"1,81",-
25,,Lee Elhadj,Right-Back,"Mar 19, 2005",18,"[Switzerland, France]",France,Altkirch,RM LB,"1,75",-

In [8]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_1986)

   Number               Name   Position  Date of Birth Age
0           François Chauvel  Left-Back   Aug 7, 1986   37  \
1              Jérémy Gazeau  Left-Back  Mar 10, 1986   37
2              Grégory Tomas  Left-Back   Apr 5, 1986   37
3             Samuel Camille  Left-Back   Feb 2, 1986   38
4                 John Glele  Left-Back  Feb 19, 1986   38
5          Alexandre Raineau  Left-Back  Jun 21, 1986   37
6               Walid Cherfa  Left-Back  Feb 24, 1986   38
7             Joachim Ichane  Left-Back  Jun 27, 1986   37
8             Yann Schneider  Left-Back  Jan 19, 1986   38
9             Djassem Nianzi  Left-Back  Apr 18, 1986   37
10             Erwan Dioclès  Left-Back   Apr 7, 1986   37
11               Rémy Amieux  Left-Back   Sep 5, 1986   37
12           Sofiane Batikhy  Left-Back  Jan 27, 1986   38
13              Kenny Gillet  Left-Back   Jan 3, 1986   38
14          Zoumana Bakayogo  Left-Back  Aug 17, 1986   37
15           Julian Palmieri  Left-Back   Dec 7, 1986   37
16           Florian Marange  Left-Back   Mar 3, 1986   38
17            Richard Soumah  Left-Back   Oct 6, 1986   37

                Nationality Birth Country       Place of Birth
0                  [France]        France                 Caen  \
1                  [France]        France  Montreuil-sous-Bois
2                  [France]        France           Versailles
3      [Martinique, France]        France          Saint-Denis
4           [Benin, France]        France              Belfort
5                  [France]        France                Paris
6         [Algeria, France]        France             Toulouse
7         [France, Réunion]        France                Niort
8         [France, Germany]        France           Phalsbourg
9                  [France]        France            Marseille
10                 [France]        France                Dinan
11                 [France]        France               Vienne
12                 [France]        France  Montreuil-sous-Bois
13                 [France]        France             Bordeaux
14  [Cote d'Ivoire, France]        France                Paris
15                 [France]        France                 Lyon
16                 [France]        France             Pauillac
17         [Guinea, France]        France              Créteil

   Other Positions Height Market Value
0                    1,82            -
1                    1,81            -
2                    1,70            -
3               CB   1,76            -
4                    1,80            -
5               DM   1,78            -
6               CB   1,85            -
7                    1,84            -
8                     N/A            -
9               RB   1,80            -
10                   1,72            -
11         LM   LW   1,75            -
12                   1,80            -
13         CB   DM   1,78            -
14              LM   1,75            -
15         LM   LW   1,70            -
16              CB   1,81            -
17         LM   LW   1,79            -

## Merge all the dataframes into a single one and save the df into a csv file

In [96]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [97]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 726 entries, 0 to 725
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           726 non-null    object
 1   Name             726 non-null    object
 2   Position         726 non-null    object
 3   Date of Birth    726 non-null    object
 4   Age              726 non-null    object
 5   Nationality      726 non-null    object
 6   Birth Country    726 non-null    object
 7   Place of Birth   726 non-null    object
 8   Other Positions  726 non-null    object
 9   Height           726 non-null    object
 10  Market Value     726 non-null    object
dtypes: object(11)
memory usage: 62.5+ KB

In [98]:
df_merged.to_csv("../../data/france_rightbacks.csv", header= True, index=False)

In [99]:
df_merged

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,,Baptiste Dufay,Right-Back,"Jul 6, 1985",38,[France],France,Saint-Omer,,,-
1,,Ousmane Sidibé,Right-Back,"Apr 23, 1985",38,"[Guinea, France]",France,Paris,LB CB,"1,78",-
2,,Mathieu Gomes,Right-Back,"Mar 6, 1985",38,[France],France,Bayonne,RM RW,"1,79",-
3,,Julien N'Da,Right-Back,"Aug 15, 1985",38,"[France, Cote d'Ivoire]",France,Niort,CB,"1,79",-
4,,Karim Azizou,Right-Back,"Jan 20, 1985",39,"[Morocco, France]",France,Perigueux,,"1,77",-
...,...,...,...,...,...,...,...,...,...,...,...
721,,Kemryk Nagera,Right-Back,"May 31, 2005",18,"[France, Guadeloupe]",France,Stains,,,-
722,,Tanguy Lienard,Right-Back,"Apr 4, 2005",18,[France],France,Valenciennes,,"1,66",-
723,,Emmanuel Bably,Right-Back,"Dec 18, 2005",18,"[France, Cote d'Ivoire]",France,Créteil,,,-
724,,Ilias Bounassir-Roida,Right-Back,"Feb 1, 2005",19,"[France, Algeria]",France,Oyonnax,LB,"1,81",-
725,,Lee Elhadj,Right-Back,"Mar 19, 2005",18,"[Switzerland, France]",France,Altkirch,RM LB,"1,75",-