# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_22753/3657650218.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [179]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        


        #driver.execute_script("arguments[0].click();", next_buttons[x])
        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
#next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,39,Mathys Tel,Left Winger,"Apr 27, 2005",18,"[France, Guadeloupe]",France,Sarcelles,RW CF,"1,83",€50.00m
1,,Mamadou Diakhon,Left Winger,"Sep 22, 2005",18,"[France, Senegal]",France,Strasbourg,RW,"1,80",€700k
2,,Tom Saettel,Left Winger,"Jun 19, 2005",18,[France],France,Strasbourg,RW,,€150k
3,,Yanis Hadj,Left Winger,"Jan 28, 2005",19,[France],France,Saint-Avold,,,-
4,,Prince Nkosi,Left Winger,"Apr 2, 2005",18,"[France, DR Congo]",France,Colombes,RW AM,"1,77",-
5,,Abdelmajid Djae,Left Winger,"Jun 3, 2005",18,"[Comoros, France]",France,Aubervilliers,RW SS,"1,83",-
6,,Souheil Charaka,Left Winger,"Aug 30, 2005",18,"[France, Morocco]",France,Annecy,CF RW,"1,80",-
7,,Shon Zobo,Left Winger,"Mar 5, 2005",19,"[France, Cote d'Ivoire]",France,Ermont,RW,,-
8,,Younes Lachaab,Left Winger,"Jan 6, 2005",19,"[France, Algeria]",France,Maubeuge,,"1,76",-
9,19,Queyrell Tchicamboud,Left Winger,"Dec 8, 2005",18,"[France, Congo]",France,Évry,,,-
10,,Lucas Michal,Left Winger,"Jun 22, 2005",18,"[France, Martinique]",France,Bourg-la-Reine,CF RW,,-
11,,Darlens François,Left Winger,"Jan 1, 2005",19,[France],France,Sarcelles,CF RW,,-
12,19,Jean-Mattéo Bahoya,Left Winger,"May 7, 2005",18,"[France, Cameroon]",France,Montfermeil,AM CF,"1,80",€2.50m
13,,Aaron Malouda,Left Winger,"Nov 30, 2005",18,"[France, French Guiana]",France,Écully,RW AM,,€150k
14,,Sascha Touodop Tekeu,Left Winger,"Jan 11, 2005",19,"[France, Germany]",France,Strasbourg,RW SS,"1,88",€25k
15,,Idriss Monteville,Left Winger,"Mar 29, 2005",18,"[France, Réunion]",France,Metz,RW,,-
16,,Jean Elie Louison,Left Winger,"Jun 1, 2005",18,[France],France,,RW SS,"1,84",-
17,,Louis Pama Djobo,Left Winger,"Jan 10, 2005",19,[France],France,,,"1,82",-
18,,Safy Bensalem,Left Winger,"Jul 13, 2005",18,"[France, Algeria]",France,Drancy,,"1,80",-
19,,Michael Mortume,Left Winger,"Jul 25, 2005",18,"[France, Haiti]",France,Clamart,SS,"1,77",-
20,,Nathan Quinton,Left Winger,"Jan 20, 2005",19,[France],France,,AM SS,"1,78",-
21,47,Christ Mukelenge,Left Winger,"Jul 2, 2005",18,"[France, DR Congo]",France,Bondy,CF,,-
22,,Soufian Awragh,Left Winger,"Feb 23, 2005",19,"[France, Morocco]",France,Nizza,RW,"1,71",-
23,,Sayha Seha,Left Winger,"Jan 15, 2005",19,"[Madagascar, France]",France,Troyes,RW,"1,74",-

In [89]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_1986)

  Number             Name        Position  Date of Birth Age
0            Cyril Dalmat  Right Midfield   Oct 3, 1986   37  \
1           Khaled Gourmi  Right Midfield  Apr 18, 1986   37
2         Geoffrey Tréand  Right Midfield  Jan 16, 1986   38
3          Julien Chendri  Right Midfield  Aug 10, 1986   37
4           Marian Bănuță  Right Midfield  Aug 13, 1986   37

            Nationality Birth Country Place of Birth Other Positions Height
0  [France, Martinique]        France          Tours                   1,74  \
1     [Algeria, France]        France          Paris         LM   AM   1,74
2              [France]        France      Annemasse         LM   AM   1,78
3              [France]        France    Villecrsnes                   1,70
4     [Romania, France]        France       Toulouse                   1,75

  Market Value
0            -
1            -
2            -
3            -
4            -

## Merge all the dataframes into a single one and save the df into a csv file

In [180]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [181]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           436 non-null    object
 1   Name             436 non-null    object
 2   Position         436 non-null    object
 3   Date of Birth    436 non-null    object
 4   Age              436 non-null    object
 5   Nationality      436 non-null    object
 6   Birth Country    436 non-null    object
 7   Place of Birth   436 non-null    object
 8   Other Positions  436 non-null    object
 9   Height           436 non-null    object
 10  Market Value     436 non-null    object
dtypes: object(11)
memory usage: 37.6+ KB

In [182]:
df_merged.to_csv("../../data/france_secondstrikers.csv", header= True, index=False)

In [183]:
df_merged

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,,Tony Joly,Left Winger,"Sep 26, 1985",38,[France],France,Lens,,"1,75",-
1,,Habip Tok,Left Winger,"Jul 28, 1985",38,"[Türkiye, France]",France,Ales,LM CM,"1,71",-
2,,Fabien Lamatina,Left Winger,"Jul 3, 1985",38,[France],France,La Seyne-sur-Mer,RW,"1,78",-
3,,Tony Ribeiro,Left Winger,"Oct 5, 1985",38,"[France, Portugal]",France,Tours,RW CF,"1,80",-
4,,Martin Douillard,Left Winger,"Mar 20, 1985",38,[France],France,Les Sables-d'Olonne,LM,"1,73",-
...,...,...,...,...,...,...,...,...,...,...,...
431,,Michael Mortume,Left Winger,"Jul 25, 2005",18,"[France, Haiti]",France,Clamart,SS,"1,77",-
432,,Nathan Quinton,Left Winger,"Jan 20, 2005",19,[France],France,,AM SS,"1,78",-
433,47,Christ Mukelenge,Left Winger,"Jul 2, 2005",18,"[France, DR Congo]",France,Bondy,CF,,-
434,,Soufian Awragh,Left Winger,"Feb 23, 2005",19,"[France, Morocco]",France,Nizza,RW,"1,71",-
435,,Sayha Seha,Left Winger,"Jan 15, 2005",19,"[Madagascar, France]",France,Troyes,RW,"1,74",-