# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_84505/3657650218.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [378]:
#driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        

        #driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
#next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,39,Newerton,Left Winger,"Jun 3, 2005",18,[Brazil],Brazil,Palmares,RW,"1,65",€3.00m
1,44,Adyson,Left Winger,"Sep 22, 2005",18,[Brazil],Brazil,Coroatá,LW,"1,68",€1.00m
2,29,Ruan,Left Winger,"May 3, 2005",18,[Brazil],Brazil,Caxias do Sul,RW SS,"1,72",€550k
3,39,Gustavo Nunes,Left Winger,"Nov 20, 2005",18,[Brazil],Brazil,São Vicente do Sul,RW AM,,€100k
4,,Wendell Sacramento,Left Winger,"Aug 31, 2005",18,[Brazil],Brazil,Salvador,LM LB,"1,76",-
5,,Felipe Laurindo,Left Winger,"Jan 18, 2005",19,[Brazil],Brazil,,RW,,-
6,,Hugo Cordeiro,Left Winger,"Jan 5, 2005",19,[Brazil],Brazil,Araçatuba,,,-
7,,Kaike Bruno,Left Winger,"Feb 22, 2005",19,[Brazil],Brazil,Limoeiro de Anadia,RW,"1,82",-
8,36,Wesley,Left Winger,"Mar 5, 2005",19,[Brazil],Brazil,São Paulo,RW SS,"1,80",€3.00m
9,80,Robert,Left Winger,"Apr 13, 2005",18,[Brazil],Brazil,Pirapora,RW SS,"1,74",€900k
10,,Lian,Left Winger,"Sep 20, 2005",18,[Brazil],Brazil,Rio de Janeiro,,,€100k
11,,Gil,Left Winger,"May 24, 2005",18,[Brazil],Brazil,Campina Grande,,"1,82",€50k
12,,Myzaell,Left Winger,"Apr 14, 2005",18,[Brazil],Brazil,Cruzeiro,AM AM,"1,80",-
13,,Julio César,Left Winger,"Sep 2, 2005",18,[Brazil],Brazil,,,,-
14,,Flávinho,Left Winger,"Apr 11, 2005",18,[Brazil],Brazil,Vitória (ES),RW,,-

In [377]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_2004)

   Number                  Name     Position  Date of Birth Age
0      16                 Sávio  Left Winger  Apr 10, 2004   19  \
1      16          Erick Marcus  Left Winger   Mar 1, 2004   20
2                  Caio Matheus  Left Winger  Feb 19, 2004   20
3      27             Petterson  Left Winger   Jan 4, 2004   20
4      17           João Victor  Left Winger  Apr 27, 2004   19
5                         Fábio  Left Winger   Dec 3, 2004   19
6                       Jailson  Left Winger  Jul 23, 2004   19
7                   Pedro Vitor  Left Winger   Jan 6, 2004   20
8                    Luan Lucas  Left Winger   Nov 9, 2004   19
9      11               Ewandro  Left Winger  Jun 11, 2004   19
10                        Roger  Left Winger  May 26, 2004   19
11               João Guilherme  Left Winger   Apr 6, 2004   19
12      7                  Davi  Left Winger  Jul 28, 2004   19
13      7             Eguinaldo  Left Winger   Aug 9, 2004   19
14     32                 Isaac  Left Winger  Apr 24, 2004   19
15     11    Darlison Rodriguez  Left Winger  May 10, 2004   19
16                Igor Henrique  Left Winger  Feb 17, 2004   20
17                 Kauan Santos  Left Winger  Jun 17, 2004   19
18                  Lucas Aruba  Left Winger  Mar 26, 2004   19
19                  Luiz Felipe  Left Winger  Mar 11, 2004   20
20                     Allysson  Left Winger  Nov 25, 2004   19
21                         Kauê  Left Winger   Aug 6, 2004   19
22                   Richardson  Left Winger   Jan 2, 2004   20
23                 Matheus Maia  Left Winger  Sep 22, 2004   19
24               Patrick Küster  Left Winger   Mar 7, 2004   20
25                Thiago Tinoco  Left Winger   Apr 9, 2004   19
26                 Diogo Mourão  Left Winger  Jan 20, 2004   20
27              Gabriel Miranda  Left Winger  Jan 30, 2004   20
28     11         Kayke Ferrari  Left Winger  Apr 28, 2004   19
29                Adriano Filho  Left Winger  Jun 14, 2004   19
30                     Ermerson  Left Winger  Jul 14, 2004   19
31                   João Vitor  Left Winger  Jun 20, 2004   19
32                    Richarles  Left Winger   Jan 4, 2004   20
33                         Yuri  Left Winger   Sep 2, 2004   19
34     23  Diego Lleches Soares  Left Winger  Mar 15, 2004   20
35                  Rafael Reis  Left Winger   Sep 7, 2004   19
36                  Felipe Luan  Left Winger  Jan 21, 2004   20

           Nationality Birth Country           Place of Birth Other Positions
0             [Brazil]        Brazil               São Mateus         RW   AM  \
1             [Brazil]        Brazil           Rio de Janeiro         RW   SS
2             [Brazil]        Brazil                  Limeira         SS   RW
3             [Brazil]        Brazil            Florianópolis         CF   RW
4             [Brazil]        Brazil                 São Luís         RW   SS
5             [Brazil]        Brazil                                       RW
6             [Brazil]        Brazil
7             [Brazil]        Brazil                                  RW   AM
8             [Brazil]        Brazil
9             [Brazil]        Brazil                São Paulo              RW
10            [Brazil]        Brazil                                       RW
11            [Brazil]        Brazil
12            [Brazil]        Brazil                 Curitiba              SS
13            [Brazil]        Brazil                   Monção         RW   SS
14            [Brazil]        Brazil                 Teresina         AM   RW
15   [Bolivia, Brazil]        Brazil               Manacapuru              LM
16            [Brazil]        Brazil                 Alterosa         RW   LM
17            [Brazil]        Brazil          Planaltina (DF)              AM
18            [Brazil]        Brazil                   Maruim         RW   SS
19            [Brazil]        Brazil                Eunápolis              AM
20  [Brazil, Portugal]        Brazil                                       LB
21            [Brazil]        Brazil                                  RW   AM
22            [Brazil]        Brazil
23            [Brazil]        Brazil                 Cabreúva              RW
24            [Brazil]        Brazil                                  RW   CF
25            [Brazil]        Brazil           Rio de Janeiro              RW
26            [Brazil]        Brazil
27            [Brazil]        Brazil                                  RW   AM
28            [Brazil]        Brazil                                  RW   AM
29            [Brazil]        Brazil                Boa Vista         RW   AM
30            [Brazil]        Brazil                                  RW   AM
31            [Brazil]        Brazil
32            [Brazil]        Brazil  Nova Olinda do Maranhão              RW
33            [Brazil]        Brazil                Fortaleza         RW   AM
34     [Brazil, Spain]        Brazil                São Paulo         AM   RW
35    [Brazil, Cyprus]        Brazil                São Paulo         AM   RW
36            [Brazil]        Brazil

   Height Market Value
0    1,76      €30.00m
1    1,77       €1.50m
2    1,74       €1.00m
3    1,81        €200k
4    1,67        €125k
5                 €50k
6    1,80            -
7    1,76            -
8                    -
9    1,69            -
10   1,78            -
11                   -
12   1,71            -
13   1,75       €3.00m
14   1,70       €1.00m
15   1,74        €300k
16   1,72        €150k
17   1,69        €100k
18   1,73         €10k
19   1,81            -
20                   -
21                   -
22                   -
23   1,70            -
24                   -
25   1,72            -
26   1,75            -
27                   -
28                   -
29   1,74            -
30   1,77            -
31                   -
32   1,76            -
33                   -
34   1,73            -
35   1,72            -
36                   -

## Merge all the dataframes into a single one and save the df into a csv file

In [379]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [380]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 919 entries, 0 to 918
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           919 non-null    object
 1   Name             919 non-null    object
 2   Position         919 non-null    object
 3   Date of Birth    919 non-null    object
 4   Age              919 non-null    object
 5   Nationality      919 non-null    object
 6   Birth Country    919 non-null    object
 7   Place of Birth   919 non-null    object
 8   Other Positions  919 non-null    object
 9   Height           919 non-null    object
 10  Market Value     919 non-null    object
dtypes: object(11)
memory usage: 79.1+ KB

In [381]:
df_merged.to_csv("../../data/brazil/brazil_leftwingers.csv", header= True, index=False)