# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_90671/2000119249.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [330]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Midfielder",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'England',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Midfielder",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'England',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        

        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Midfielder",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'England',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Midfielder",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'England',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Main Position,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,37,Kobbie Mainoo,Midfielder,Central Midfield,"Apr 19, 2005",18,"[England, Ghana]",England,Stockport,AM DM,"1,75",€35.00m
1,56,Jacob Wright,Midfielder,Central Midfield,"Sep 21, 2005",18,[England],England,Manchester,DM RB,"1,78",€800k
2,44,Axel Piesold,Midfielder,Central Midfield,"Mar 31, 2005",19,[England],England,London,,,€150k
3,18,Shae Cahill,Midfielder,Central Midfield,"Apr 26, 2005",18,"[Australia, England]",England,,,"1,71",€50k
4,15,Billy Gordon,Midfielder,Central Midfield,"May 31, 2005",18,[England],England,York,RB,"1,82",-
5,,Bosembo Namputu,Midfielder,Central Midfield,"Sep 15, 2005",18,"[England, DR Congo]",England,London,AM DM,"1,88",-
6,,Oscar Fletcher,Midfielder,Central Midfield,"Feb 23, 2005",19,[England],England,Middlesbrough,DM,,-
7,19,Reece Daly,Midfielder,Central Midfield,"Jan 10, 2005",19,[England],England,Liverpool,AM CF,,-
8,,Zak Fraser-Grante,Midfielder,Central Midfield,"Apr 8, 2005",18,[England],England,London,AM,"1,74",-
9,,Cuba Mitchell,Midfielder,Central Midfield,"Nov 23, 2005",18,"[England, Jamaica]",England,,,"1,72",-
10,,Kyle Kelly,Midfielder,Central Midfield,"Oct 16, 2005",18,"[St. Kitts & Nevis, England]",England,Northampton,,,-
11,18,Freddy Jeffreys,Midfielder,Central Midfield,"Aug 25, 2005",18,[England],England,,DM,"1,78",-
12,73,Tyrese Hall,Midfielder,Central Midfield,"Sep 4, 2005",18,[England],England,London,AM,,-
13,42,Bobby Clark,Midfielder,Central Midfield,"Feb 7, 2005",19,[England],England,Newcastle upon Tyne,LM AM,"1,78",€1.00m
14,37,Jonny Yull,Midfielder,Central Midfield,"Mar 5, 2005",19,"[Australia, England]",England,Amersham,DM AM,"1,74",€250k
15,18,Finn Mckenlay,Midfielder,Central Midfield,"Sep 4, 2005",18,"[New Zealand, England]",England,London,DM AM,"1,88",€125k
16,,Ackeme Francis-Burrell,Midfielder,Central Midfield,"Mar 8, 2005",19,[England],England,Birmingham,LW DM,,€50k
17,28,Arran Healy,Midfielder,Central Midfield,"Apr 21, 2005",18,"[Ireland, England]",England,Sunderland,,"1,85",-
18,31,Jayden Luker,Midfielder,Central Midfield,"Apr 30, 2005",18,[England],England,London,,,-
19,,Paul Kyffin,Midfielder,Central Midfield,"Feb 17, 2005",19,[England],England,Liverpool,,"1,84",-
20,,Joseph Gibbard,Midfielder,Central Midfield,"Sep 27, 2005",18,"[Ireland, England]",England,,DM AM,,-
21,,Lene Burden,Midfielder,Central Midfield,"Apr 11, 2005",18,[England],England,,AM DM,"1,77",-
22,,Alfie Harrison,Midfielder,Central Midfield,"Nov 28, 2005",18,[England],England,Manchester,AM,,-
23,57,Michael Okeke,Midfielder,Central Midfield,"Oct 16, 2005",18,"[Hungary, England]",England,Manchester,DM,,-
24,30,Sean Fusire,Midfielder,Central Midfield,"May 31, 2005",18,"[England, Zimbabwe]",England,Sheffield,,,-
25,,Jack Moorhouse,Midfielder,Central Midfield,"Nov 29, 2005",18,"[England, Ireland]",England,Manchester,AM DM,"1,84",-
26,,Euan Causer,Midfielder,Central Midfield,"Jun 18, 2005",18,"[England, Wales]",England,,RB DM,"1,75",-
27,,Sam Coughlan,Midfielder,Central Midfield,"Jan 13, 2005",19,[England],England,Liverpool,,,-
28,70,Kyrie Pierre,Midfielder,Central Midfield,"Jun 17, 2005",18,[England],England,Bristol,,,-
29,,Jay Buchan,Midfielder,Central Midfield,"Mar 7, 2005",19,[England],England,Bradford,,,-
30,67,Kane Taylor,Midfielder,Central Midfield,"Feb 14, 2005",19,[England],England,Birmingham,LB AM,,-
31,64,Ellis Stanton,Midfielder,Central Midfield,"Feb 19, 2005",19,[England],England,Farringdon,DM,,-
32,,Matthew Apter,Midfielder,Central Midfield,"Oct 21, 2005",18,"[Scotland, England]",England,Liverpool,,,-
33,,Billy Heaps,Midfielder,Central Midfield,"Jun 2, 2005",18,[England],England,Stevenage,,,-
34,66,Rio Kyerematen,Midfielder,Central Midfield,"Jun 9, 2005",18,[England],England,London,AM DM,,-
35,50,Mason Rees,Midfielder,Central Midfield,"Nov 6, 2005",18,[England],England,Solihull,DM,,-

In [241]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_2000)

   Number                   Name Main Position          Position
0      23        Conor Gallagher    Midfielder  Central Midfield  \
1      28            Josh Eccles    Midfielder  Central Midfield
2      28          Callum Styles    Midfielder  Central Midfield
3       8        Matty Longstaff    Midfielder  Central Midfield
4      11          Callum Wright    Midfielder  Central Midfield
5       8       Isaac Hutchinson    Midfielder  Central Midfield
6      18        Taylor Richards    Midfielder  Central Midfield
7       8           Albie Morgan    Midfielder  Central Midfield
8      10            Ronan Darcy    Midfielder  Central Midfield
9      19       Armando Shashoua    Midfielder  Central Midfield
10     18            Tommy Leigh    Midfielder  Central Midfield
11     17         James Olayinka    Midfielder  Central Midfield
12     18       Anthony Hartigan    Midfielder  Central Midfield
13     33           Matt O'Riley    Midfielder  Central Midfield
14     16         Will Smallbone    Midfielder  Central Midfield
15     16           Dru Yearwood    Midfielder  Central Midfield
16     16           Aaron Morley    Midfielder  Central Midfield
17      3            Jon Russell    Midfielder  Central Midfield
18     16             Harry Kite    Midfielder  Central Midfield
19      8          Rekeem Harper    Midfielder  Central Midfield
20     23           Elliot Bonds    Midfielder  Central Midfield
21      8             Matt Smith    Midfielder  Central Midfield
22     80   Tashan Oakley-Boothe    Midfielder  Central Midfield
23      6       George McEachran    Midfielder  Central Midfield
24     28          Elliot Thorpe    Midfielder  Central Midfield
25     10        Alfie McCalmont    Midfielder  Central Midfield
26     15             Jack Young    Midfielder  Central Midfield
27     19              Ben Clark    Midfielder  Central Midfield
28     27          Connor Malley    Midfielder  Central Midfield
29                   Jake Walker    Midfielder  Central Midfield
30      6          Callum Watson    Midfielder  Central Midfield
31                Scott McHarrie    Midfielder  Central Midfield
32                     Zac Smith    Midfielder  Central Midfield
33      7            Keaton Ward    Midfielder  Central Midfield
34            Matthew Ben Savage    Midfielder  Central Midfield
35      8              Kian Yari    Midfielder  Central Midfield
36     10           Liam Waldock    Midfielder  Central Midfield
37                   Jude Barrow    Midfielder  Central Midfield
38     29              Alex Hunt    Midfielder  Central Midfield
39      4          Ossama Ashley    Midfielder  Central Midfield
40     17           Cammy Palmer    Midfielder  Central Midfield
41     12              Max Sheaf    Midfielder  Central Midfield
42     44           Yanick Kissi    Midfielder  Central Midfield
43     10          Keziah Martin    Midfielder  Central Midfield
44               O'Shane Stewart    Midfielder  Central Midfield
45                Arron Thompson    Midfielder  Central Midfield
46               Ayman Gharbaoui    Midfielder  Central Midfield
47                   Luke Spokes    Midfielder  Central Midfield
48                    Lucas Weir    Midfielder  Central Midfield
49               Sam Skeffington    Midfielder  Central Midfield
50     21         James Vennings    Midfielder  Central Midfield
51                   Lewis Doyle    Midfielder  Central Midfield
52              Prince Ogunmekan    Midfielder  Central Midfield
53              Laurence Wootton    Midfielder  Central Midfield
54                    Ben Scorey    Midfielder  Central Midfield
55              Emmanuel Adebiyi    Midfielder  Central Midfield
56                   Jack Baxter    Midfielder  Central Midfield
57                    Aaron Heap    Midfielder  Central Midfield
58     15               Tom Pugh    Midfielder  Central Midfield
59              Charlie Pattison    Midfielder  Central Midfield
60     88        Faysal Bettache    Midfielder  Central Midfield
61                  Peter Taylor    Midfielder  Central Midfield
62     14  Kane Thompson-Sommers    Midfielder  Central Midfield
63                    Harry Wood    Midfielder  Central Midfield
64                  Olaolu Odipe    Midfielder  Central Midfield
65                  Luke Nippard    Midfielder  Central Midfield
66      6          Jethro Hanson    Midfielder  Central Midfield
67     13           Jerome Jolly    Midfielder  Central Midfield
68     12         Bradley Keetch    Midfielder  Central Midfield
69               Harrison Hopper    Midfielder  Central Midfield
70                  Freddie Read    Midfielder  Central Midfield
71               Anthony Greaves    Midfielder  Central Midfield
72     18           Florent Hoti    Midfielder  Central Midfield
73     24        Regan Griffiths    Midfielder  Central Midfield
74                 Carl Spellman    Midfielder  Central Midfield
75     17             Will Dawes    Midfielder  Central Midfield
76                    Sam Squire    Midfielder  Central Midfield
77                     Jake Peck    Midfielder  Central Midfield
78                    Henry Wise    Midfielder  Central Midfield
79             Charlie Wakefield    Midfielder  Central Midfield
80                    Reece York    Midfielder  Central Midfield
81     26          Jake Williams    Midfielder  Central Midfield
82                 Connor Rankin    Midfielder  Central Midfield
83      5              Nya Kirby    Midfielder  Central Midfield
84                  Kristi Marku    Midfielder  Central Midfield
85               Brandon Burrows    Midfielder  Central Midfield
86               Thomas Scothern    Midfielder  Central Midfield
87                      Sid Kerr    Midfielder  Central Midfield
88                  Dan Bartlett    Midfielder  Central Midfield
89                    Alex Howes    Midfielder  Central Midfield
90                Jacob Fletcher    Midfielder  Central Midfield
91                 Sammie McLeod    Midfielder  Central Midfield
92                 Marcus Rowley    Midfielder  Central Midfield
93                   Sam Wilding    Midfielder  Central Midfield

    Date of Birth Age                          Nationality Birth Country
0    Feb 6, 2000   24                            [England]       England  \
1    Apr 6, 2000   23                            [England]       England
2   Mar 27, 2000   24                   [Hungary, England]       England
3   Mar 21, 2000   24                            [England]       England
4    May 2, 2000   23                            [England]       England
5   Apr 10, 2000   23                            [England]       England
6    Dec 4, 2000   23                            [England]       England
7    Feb 2, 2000   24                            [England]       England
8    Nov 4, 2000   23                   [England, Ireland]       England
9   Oct 31, 2000   23                 [England, Venezuela]       England
10  Apr 13, 2000   23                            [England]       England
11   Oct 5, 2000   23                   [England, Nigeria]       England
12  Jan 27, 2000   24                     [England, Wales]       England
13  Nov 21, 2000   23                   [Denmark, England]       England
14  Feb 21, 2000   24                   [Ireland, England]       England
15  Feb 17, 2000   24                  [England, Barbados]       England
16  Feb 27, 2000   24                            [England]       England
17   Oct 9, 2000   23                   [Jamaica, England]       England
18  Jun 29, 2000   23                            [England]       England
19   Mar 8, 2000   24                   [England, Jamaica]       England
20  Mar 23, 2000   24                    [Guyana, England]       England
21   Oct 5, 2000   23                            [England]       England
22  Feb 14, 2000   24                   [England, Jamaica]       England
23  Aug 30, 2000   23                  [England, Scotland]       England
24   Nov 9, 2000   23                     [Wales, England]       England
25  Mar 25, 2000   24          [Northern Ireland, England]       England
26  Oct 21, 2000   23                            [England]       England
27  Oct 14, 2000   23                            [England]       England
28  Mar 20, 2000   24                            [England]       England
29   Nov 3, 2000   23                            [England]       England
30  Feb 28, 2000   24                            [England]       England
31   Feb 1, 2000   24                              [Wales]       England
32  Sep 15, 2000   23                            [England]       England
33  May 10, 2000   23                            [England]       England
34   Jun 7, 2000   23                            [England]       England
35  Oct 13, 2000   23                      [England, Iran]       England
36  Sep 25, 2000   23                            [England]       England
37  Dec 11, 2000   23                    [England, Canada]       England
38  May 29, 2000   23                   [Ireland, England]       England
39  Feb 23, 2000   24                   [England, Morocco]       England
40  May 15, 2000   23         [Northern Ireland, Scotland]       England
41  Mar 10, 2000   24                            [England]       England
42   Aug 1, 2000   23             [England, Cote d'Ivoire]       England
43  May 21, 2000   23                   [Bermuda, England]       England
44  Dec 21, 2000   23                   [England, Jamaica]       England
45   Aug 1, 2000   23                            [England]       England
46   Mar 2, 2000   24                   [Morocco, England]       England
47   Aug 6, 2000   23                            [England]       England
48   Jun 1, 2000   23                  [Scotland, England]       England
49  Sep 19, 2000   23                            [England]       England
50  May 24, 2000   23                            [England]       England
51   Aug 9, 2000   23                            [England]       England
52  Mar 17, 2000   24                     [England, Ghana]       England
53  Jan 10, 2000   24                            [England]       England
54  Dec 21, 2000   23                            [England]       England
55  Sep 13, 2000   23                   [England, Nigeria]       England
56  Oct 27, 2000   23                            [England]       England
57  May 14, 2000   23                     [Wales, England]       England
58  Sep 27, 2000   23                     [Wales, England]       England
59  Nov 28, 2000   23                            [England]       England
60   Jul 7, 2000   23                   [England, Algeria]       England
61   Sep 1, 2000   23                            [England]       England
62   Dec 1, 2000   23                            [England]       England
63   Feb 3, 2000   24                            [England]       England
64           N/A   23                                   []       England
65  Dec 29, 2000   23                            [England]       England
66  Jun 14, 2000   23                            [England]       England
67  Sep 13, 2000   23                            [England]       England
68  Sep 19, 2000   23                            [England]       England
69  Dec 24, 2000   23                            [England]       England
70  Oct 27, 2000   23                            [England]       England
71  Nov 17, 2000   23                            [England]       England
72  Dec 11, 2000   23                    [Kosovo, England]       England
73   May 1, 2000   23                            [England]       England
74   Nov 6, 2000   23                            [England]       England
75   Sep 5, 2000   23                            [England]       England
76  May 25, 2000   23                            [England]       England
77   Jan 9, 2000   24                            [England]       England
78   Jan 1, 2000   24                            [England]       England
79  May 23, 2000   23                            [England]       England
80  Apr 17, 2000   23                            [England]       England
81   Oct 5, 2000   23               [New Zealand, England]       England
82   Jul 3, 2000   23                            [England]       England
83  Jan 31, 2000   24  [England, St. Vincent & Grenadinen]       England
84  Feb 23, 2000   24                  [Scotland, Albania]       England
85   Jan 4, 2000   24                     [Wales, England]       England
86  Sep 29, 2000   23                            [England]       England
87  Mar 16, 2000   24                            [England]       England
88  Oct 13, 2000   23                            [England]       England
89   Jan 6, 2000   24                            [England]       England
90  May 16, 2000   23                            [England]       England
91  Apr 23, 2000   23                            [England]       England
92  May 15, 2000   23                     [Ireland, Spain]       England
93  Jan 31, 2000   24                            [England]       England

          Place of Birth Other Positions Height Market Value
0                  Epsom         DM   AM   1,82      €48.00m
1               Coventry         DM   RM   1,81       €6.00m
2                 Oldham         LM   AM   1,67       €2.50m
3              Rotherham              DM   1,71        €900k
4                 Huyton         RM   RB   1,82        €700k
5             Eastbourne         AM   SS   1,78        €400k
6                 London              AM   1,80        €350k
7              Rochester         RM   LM   1,80        €325k
8               Ormskirk         RW   RB   1,77        €300k
9                 London              AM   1,77        €300k
10            Portsmouth         DM   AM   1,85        €225k
11                London         RM   DM   1,75        €200k
12  Kingston upon Thames              DM   1,81        €175k
13                London         AM   DM   1,89      €13.00m
14           Basingstoke         AM   DM   1,83       €3.80m
15                Harlow              DM   1,75       €1.50m
16                  Bury              DM   1,83        €900k
17                London         DM   AM   1,93        €600k
18              Crediton              RM   1,76        €350k
19            Birmingham         AM   DM   1,83        €350k
20                London                   1,79        €325k
21                Harlow              DM   1,76        €300k
22                London         AM   RM   1,82        €250k
23                Oxford         AM   DM   1,72        €225k
24        Hinchingbrooke         DM   AM   1,76        €200k
25                Thirsk              DM   1,75        €175k
26   Newcastle upon Tyne              DM   1,71        €150k
27               Chester              RB               €125k
28               Hebburn         RM   LM   1,85        €100k
29          Bayston Hill         RB   DM   1,79         €50k
30                 Essex                   1,81            -
31             Liverpool                                   -
32               Bristol              RM                   -
33             Mansfield              AM   1,83            -
34                                                         -
35            Manchester         DM   AM   1,68            -
36             Sheffield                   1,78            -
37                London         DM   AM                   -
38             Sheffield                   1,70        €150k
39                London              DM   1,80        €125k
40                  York         AM   DM               €125k
41             Gravesend                   1,83         €50k
42                London         LB   DM   1,85         €10k
43            Birmingham              AM   1,79            -
44                London                   1,78            -
45            Sunderland              DM   1,87            -
46                London              RB   1,80            -
47               Bristol                   1,82            -
48            Manchester         DM   CB   1,88            -
49                London              DM   1,78            -
50                London                   1,80            -
51             Liverpool                                   -
52               Croydon                                   -
53              Halstead                   1,75            -
54           Southampton              CB                   -
55                London                                   -
56               Chorley              DM   1,78            -
57                Oxford                   1,82            -
58             Doncaster         RM   RB   1,69            -
59               Bedford                   1,90            -
60                London         AM   DM   1,85            -
61            Birmingham         DM   CB                   -
62                London         LM   AM   1,78            -
63          Chesterfield              AM   1,89            -
64            Manchester         LM   RM    N/A            -
65                 Poole              RB                   -
66                London                   1,82            -
67              Garstang                   1,87            -
68               Reading                                   -
69                London                   1,75            -
70            Portsmouth                   1,69            -
71             Sheffield              DM   1,77            -
72            Manchester         DM   LM   1,82            -
73             Liverpool              AM   1,72            -
74             Liverpool              DM   1,77            -
75               Bristol         LM   RM                   -
76             Cambridge                   1,86            -
77                 Luton              AM   1,80            -
78                London         DM   AM   1,75            -
79                 Derby         LM   LB   1,75            -
80                London              DM   1,80            -
81             Worcester         CB   LB   1,75            -
82                                                         -
83                London         AM   LM   1,74            -
84                                    AM   1,76            -
85               Chester         AM   RM   1,76            -
86            Sunderland              DM                   -
87               Croydon              DM   1,82            -
88                 Poole         DM   AM   1,80            -
89            Nottingham                   1,70            -
90             Doncaster                                   -
91       Tunbridge Wells         LM   AM   1,87            -
92           Hammersmith                   1,85            -
93               Walsall         DM   RB                   -

## Merge all the dataframes into a single one and save the df into a csv file

In [331]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [332]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1457 entries, 0 to 1456
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1457 non-null   object
 1   Name             1457 non-null   object
 2   Main Position    1457 non-null   object
 3   Position         1457 non-null   object
 4   Date of Birth    1457 non-null   object
 5   Age              1457 non-null   object
 6   Nationality      1457 non-null   object
 7   Birth Country    1457 non-null   object
 8   Place of Birth   1457 non-null   object
 9   Other Positions  1457 non-null   object
 10  Height           1457 non-null   object
 11  Market Value     1457 non-null   object
dtypes: object(12)
memory usage: 136.7+ KB

In [333]:
df_merged.to_csv("../../data/england/england_centralmidfields.csv", header= True, index=False)