# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_2061/3657650218.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [116]:
#driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
      
        for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))    

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Argentina',
                'Place of Birth': columns[8].text.strip(),
                'Height' : columns[9].text.strip(), 
                'Market Value' : columns[10].text.strip()
            } )

        for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))   

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Argentina',
                'Place of Birth': columns[8].text.strip(),
                'Height' : columns[9].text.strip(), 
                'Market Value' : columns[10].text.strip()
            } )        

        #driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
#next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
      
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))   

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Argentina',
                'Place of Birth': columns[8].text.strip(),
                'Height' : columns[9].text.strip(), 
                'Market Value' : columns[10].text.strip()
    } )

for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))   

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Argentina',
                'Place of Birth': columns[8].text.strip(),
                'Height' : columns[9].text.strip(), 
                'Market Value' : columns[10].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Height,Market Value
0,38,Alexis Martinez,Goalkeeper,"Feb 3, 2005",19,[Argentina],Brazil,San Pedro,"1,8",€25k
1,,Valentín Díaz,Goalkeeper,"May 19, 2005",18,[Argentina],Brazil,La Plata,"1,92",-
2,33,Santino Barbi,Goalkeeper,"Jun 14, 2005",18,[Argentina],Brazil,El Tío,"1,91",-
3,,Thiago De Bellis,Goalkeeper,"Feb 1, 2005",19,[Argentina],Brazil,Buenos Aires,"1,83",-
4,12,Mateo Morro,Goalkeeper,"Aug 1, 2005",18,"[Argentina, Italy]",Brazil,Wilde,"1,85",-

In [192]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_2003)

   Number                   Name    Position  Date of Birth Age
0      40            Kauã Santos  Goalkeeper  Apr 11, 2003   20  \
1                         Sidnei  Goalkeeper  Mar 28, 2003   20
2            Guilherme Christino  Goalkeeper  Apr 16, 2003   20
3                Rodrigo Bazilio  Goalkeeper   Mar 6, 2003   21
4                         Neneca  Goalkeeper  Aug 27, 2003   20
5      12       Alexandre Castro  Goalkeeper   Jul 2, 2003   20
6                         Ronald  Goalkeeper  Mar 18, 2003   20
7                   Marcos Paulo  Goalkeeper  Jun 28, 2003   20
8                          Ramon  Goalkeeper  Oct 15, 2003   20
9                    Juan Felipe  Goalkeeper   Dec 1, 2003   20
10                       Antonio  Goalkeeper  Apr 24, 2003   20
11                    Pedro Henz  Goalkeeper  Apr 21, 2003   20
12                       Benassi  Goalkeeper  Dec 17, 2003   20
13     51         Kaique Pereira  Goalkeeper  Apr 16, 2003   20
14      1            Tiago Gomes  Goalkeeper  Jan 20, 2003   21
15             Ezequiel Oliveira  Goalkeeper  Jun 13, 2003   20
16                        Álvaro  Goalkeeper   Oct 4, 2003   20
17                    Fred Conte  Goalkeeper  Apr 23, 2003   20
18                          Ocié  Goalkeeper  Mar 14, 2003   20
19      1                   Jota  Goalkeeper  Jan 24, 2003   21
20                   Jhon Miller  Goalkeeper  Jan 27, 2003   21
21                    David Cauã  Goalkeeper   Jul 4, 2003   20
22                 Gabriel Parra  Goalkeeper  Jun 27, 2003   20
23                           Max  Goalkeeper   Jul 3, 2003   20
24                 Gabriel Cosme  Goalkeeper  Apr 24, 2003   20
25                          Kauê  Goalkeeper  Feb 13, 2003   21
26               Matheus Barônio  Goalkeeper   Feb 5, 2003   21
27                Eduardo Jaeger  Goalkeeper  Jan 15, 2003   21
28                   Luis Felipe  Goalkeeper  Mar 20, 2003   20
29      1                  Braga  Goalkeeper  Sep 29, 2003   20
30                 Luis Fernando  Goalkeeper   Feb 7, 2003   21
31                       Matheus  Goalkeeper   Feb 4, 2003   21
32                         Pablo  Goalkeeper  Feb 11, 2003   21
33                Brenno Klippel  Goalkeeper  Feb 17, 2003   21
34                Ruan Borghezan  Goalkeeper   Jul 9, 2003   20
35                Paulo Henrique  Goalkeeper  Jul 27, 2003   20
36                    Alecxander  Goalkeeper  Apr 22, 2003   20
37                         Higor  Goalkeeper  Feb 27, 2003   21
38                        Felipe  Goalkeeper  Sep 21, 2003   20
39               Rafael Cristino  Goalkeeper  Nov 13, 2003   20
40                        Marcos  Goalkeeper  Feb 18, 2003   21
41               Vinicius Chacon  Goalkeeper  Jan 19, 2003   21
42                        Brayan  Goalkeeper   Apr 7, 2003   20
43             Guilherme Gabriel  Goalkeeper  Mar 23, 2003   20
44                      Leonardo  Goalkeeper  Aug 18, 2003   20
45                    João Vitor  Goalkeeper  Apr 13, 2003   20
46                        Manoel  Goalkeeper   Apr 5, 2003   20
47                         Breno  Goalkeeper  Aug 12, 2003   20
48                       Cladson  Goalkeeper  Jun 28, 2003   20
49                        Felipe  Goalkeeper  Nov 24, 2003   20
50                Vitor Oliveira  Goalkeeper  Oct 22, 2003   20
51                       Gustavo  Goalkeeper   May 6, 2003   20
52                        Marcão  Goalkeeper  Feb 11, 2003   21
53              Vinicius Ferrari  Goalkeeper  Feb 18, 2003   21
54                        Júnior  Goalkeeper  Oct 15, 2003   20
55                          Davi  Goalkeeper  Mar 14, 2003   20
56                       Cardoso  Goalkeeper  Jul 21, 2003   20
57                      Xandinho  Goalkeeper  May 28, 2003   20
58                  Luis Fagnani  Goalkeeper   Apr 9, 2003   20
59      1                 Filipe  Goalkeeper  Jan 26, 2003   21
60                         Dênis  Goalkeeper  Nov 25, 2003   20
61                       Caniato  Goalkeeper   Jan 5, 2003   21
62                    João Vitor  Goalkeeper  May 15, 2003   20
63                          Ruan  Goalkeeper  Mar 31, 2003   20
64                   Cayo Felipe  Goalkeeper  Jul 10, 2003   20
65               Felipe Carneiro  Goalkeeper  Sep 21, 2003   20
66                       Edilson  Goalkeeper  Feb 20, 2003   21
67                Patrick Paixão  Goalkeeper  Feb 19, 2003   21
68               Thiago Beltrame  Goalkeeper   Jul 2, 2003   20
69                       Demison  Goalkeeper  Mar 16, 2003   20
70         Lucas Peixoto Tristao  Goalkeeper  Aug 25, 2003   20
71                 Cláudio Vitor  Goalkeeper  Jul 22, 2003   20
72                       Wilderk  Goalkeeper  Feb 11, 2003   21
73                   Marcus Levi  Goalkeeper  Aug 16, 2003   20
74                   Natan Sales  Goalkeeper  Feb 26, 2003   21
75                  André Mendes  Goalkeeper  May 15, 2003   20
76                          Cadu  Goalkeeper  Mar 25, 2003   20

           Nationality Birth Country             Place of Birth Height
0             [Brazil]        Brazil  Vassouras, Rio de Janeiro   1,96  \
1             [Brazil]        Brazil       São José dos Pinhais   1,91
2             [Brazil]        Brazil     Visconde do Rio Branco   1,94
3             [Brazil]        Brazil            Barra do Garças   1,90
4             [Brazil]        Brazil                   Londrina   1,92
5             [Brazil]        Brazil             Rio de Janeiro   1,91
6             [Brazil]        Brazil              Honório Serpa   1,92
7             [Brazil]        Brazil                              1,95
8             [Brazil]        Brazil               Nova Venécia
9             [Brazil]        Brazil
10            [Brazil]        Brazil                              1,86
11            [Brazil]        Brazil                  Joinville   1,91
12            [Brazil]        Brazil                  São Paulo   1,95
13            [Brazil]        Brazil                  São Paulo   1,90
14            [Brazil]        Brazil                   Salvador   1,94
15            [Brazil]        Brazil               Pouso Alegre   1,85
16            [Brazil]        Brazil                   Juazeiro   1,91
17     [Brazil, Italy]        Brazil                   Campinas   1,93
18            [Brazil]        Brazil          Antonina do Norte
19            [Brazil]        Brazil               Sao Leopoldo   1,87
20            [Brazil]        Brazil
21            [Brazil]        Brazil                      Belém
22            [Brazil]        Brazil             Belo Horizonte   1,88
23            [Brazil]        Brazil                  São Paulo   1,89
24            [Brazil]        Brazil                  São Paulo   1,87
25            [Brazil]        Brazil                   Imbituba
26            [Brazil]        Brazil                              1,89
27            [Brazil]        Brazil                      Agudo   1,91
28            [Brazil]        Brazil                      Avaré   1,86
29     [Brazil, Italy]        Brazil                   Campinas   1,89
30            [Brazil]        Brazil
31            [Brazil]        Brazil
32            [Brazil]        Brazil              Volta Redonda   1,88
33            [Brazil]        Brazil                              1,93
34   [Brazil, Armenia]        Brazil
35            [Brazil]        Brazil                              1,92
36            [Brazil]        Brazil
37            [Brazil]        Brazil
38            [Brazil]        Brazil                     Recife   1,84
39            [Brazil]        Brazil             Ribeirão Claro   1,84
40            [Brazil]        Brazil                              1,93
41            [Brazil]        Brazil                              1,84
42            [Brazil]        Brazil
43            [Brazil]        Brazil                  Paranaguá   1,84
44            [Brazil]        Brazil             Ribeirão Preto   1,88
45            [Brazil]        Brazil                     Capela   1,89
46            [Brazil]        Brazil
47            [Brazil]        Brazil               Rondonópolis   1,89
48            [Brazil]        Brazil                 Chapadinha
49            [Brazil]        Brazil
50            [Brazil]        Brazil                 Indaiatuba   1,88
51            [Brazil]        Brazil              Florianópolis   1,93
52            [Brazil]        Brazil               Porto Alegre   1,88
53            [Brazil]        Brazil                     Bariri   1,95
54            [Brazil]        Brazil              Florianópolis
55            [Brazil]        Brazil
56            [Brazil]        Brazil                              1,90
57            [Brazil]        Brazil
58            [Brazil]        Brazil               Mirandópolis   1,88
59            [Brazil]        Brazil               Porto Alegre   1,93
60            [Brazil]        Brazil
61            [Brazil]        Brazil                              1,89
62            [Brazil]        Brazil             Ribeirão Preto
63            [Brazil]        Brazil               Praia Grande
64            [Brazil]        Brazil                              1,88
65            [Brazil]        Brazil                     Recife   1,85
66            [Brazil]        Brazil
67            [Brazil]        Brazil
68     [Brazil, Italy]        Brazil                     Canoas   2,01
69            [Brazil]        Brazil                      Natal   1,88
70            [Brazil]        Brazil                    Jacareí
71            [Brazil]        Brazil                  Castanhal   1,87
72            [Brazil]        Brazil                  Maracanaú   1,94
73            [Brazil]        Brazil
74            [Brazil]        Brazil                    Itaobim   2,00
75  [Portugal, Brazil]        Brazil                     Paraná   1,85
76            [Brazil]        Brazil             Rio de Janeiro   1,91

   Market Value
0        €1.50m
1         €100k
2         €100k
3         €100k
4          €50k
5             -
6             -
7             -
8             -
9             -
10            -
11            -
12            -
13        €400k
14        €100k
15        €100k
16         €50k
17         €25k
18            -
19            -
20            -
21            -
22            -
23            -
24            -
25            -
26            -
27            -
28            -
29            -
30            -
31            -
32            -
33            -
34            -
35            -
36            -
37            -
38            -
39            -
40            -
41            -
42            -
43            -
44            -
45            -
46            -
47            -
48            -
49            -
50            -
51            -
52            -
53            -
54            -
55            -
56            -
57            -
58            -
59            -
60            -
61            -
62            -
63            -
64            -
65            -
66            -
67            -
68            -
69            -
70            -
71            -
72            -
73            -
74            -
75            -
76            -

## Merge all the dataframes into a single one and save the df into a csv file

In [117]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [118]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657 entries, 0 to 656
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Number          657 non-null    object
 1   Name            657 non-null    object
 2   Position        657 non-null    object
 3   Date of Birth   657 non-null    object
 4   Age             657 non-null    object
 5   Nationality     657 non-null    object
 6   Birth Country   657 non-null    object
 7   Place of Birth  657 non-null    object
 8   Height          657 non-null    object
 9   Market Value    657 non-null    object
dtypes: object(10)
memory usage: 51.5+ KB

In [119]:
df_merged.to_csv("../../data/argentina/argentina_goalkeepers.csv", header= True, index=False)

In [120]:
df_merged

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Height,Market Value
0,1,Cristian Álvarez,Goalkeeper,"Nov 13, 1985",38,"[Argentina, Spain]",Brazil,Rosario,"1,86",€100k
1,,Nereo Champagne,Goalkeeper,"Jan 20, 1985",39,"[Argentina, Italy]",Brazil,Salto,"1,88",€10k
2,1,Rodrigo Pombo,Goalkeeper,"Jun 16, 1985",38,[Argentina],Brazil,Córdoba,,-
3,,Gastón Folgar,Goalkeeper,"Mar 7, 1985",39,[Argentina],Brazil,Buenos Aires,,-
4,,Ángel Pedroso,Goalkeeper,"Jun 18, 1985",38,[Argentina],Brazil,Formosa,,-
...,...,...,...,...,...,...,...,...,...,...
652,38,Alexis Martinez,Goalkeeper,"Feb 3, 2005",19,[Argentina],Brazil,San Pedro,"1,8",€25k
653,,Valentín Díaz,Goalkeeper,"May 19, 2005",18,[Argentina],Brazil,La Plata,"1,92",-
654,33,Santino Barbi,Goalkeeper,"Jun 14, 2005",18,[Argentina],Brazil,El Tío,"1,91",-
655,,Thiago De Bellis,Goalkeeper,"Feb 1, 2005",19,[Argentina],Brazil,Buenos Aires,"1,83",-
656,12,Mateo Morro,Goalkeeper,"Aug 1, 2005",18,"[Argentina, Italy]",Brazil,Wilde,"1,85",-