# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_3921/3657650218.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [336]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Argentina',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Argentina',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        

        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Argentina',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Argentina',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,38,Aaron Anselmino,Centre-Back,"Apr 29, 2005",18,[Argentina],Brazil,Bernardo Larroudé,,"1,86",€300k
1,12,Gerónimo Spina,Centre-Back,"Feb 9, 2005",19,"[Argentina, Italy]",Brazil,La Plata,,"1,87",€50k
2,,Thiago Herrera,Centre-Back,"Feb 1, 2005",19,[Argentina],Brazil,González Catán,,"1,77",€10k
3,,Facundo Sánchez,Centre-Back,"Aug 7, 2005",18,[Argentina],Brazil,Buenos Aires,,"1,81",-
4,,Máximo Palazzo,Centre-Back,"Jun 6, 2005",18,[Argentina],Brazil,Buenos Aires,,"1,83",-
5,14,Dylan Gamarra,Centre-Back,"Feb 18, 2005",19,[Argentina],Brazil,,,"1,84",-
6,13,Samuel Lucero,Centre-Back,"Jul 29, 2005",18,[Argentina],Brazil,Capital Federal,,"1,79",€75k
7,,Ariel González,Centre-Back,"Aug 16, 2005",18,[Argentina],Brazil,Ordóñez,RB,"1,76",€25k
8,,Franco Vázquez,Centre-Back,"Jan 2, 2005",19,[Argentina],Brazil,Buenos Aires,,"1,83",-
9,3,Lucas Baños,Centre-Back,"May 9, 2005",18,[Argentina],Brazil,Rosario,,"1,92",-
10,35,Juan Cortazzo,Centre-Back,"Oct 18, 2005",18,[Argentina],Brazil,La Plata,,"1,86",-

In [322]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_2001)

   Number                   Name     Position  Date of Birth Age
0      15      Nicolás Valentini  Centre-Back   Apr 6, 2001   22  \
1       6           Aarón Quirós  Centre-Back  Oct 31, 2001   22
2      22        Julián Malatini  Centre-Back  May 31, 2001   22
3      21   Santiago Ramos Mingo  Centre-Back  Nov 21, 2001   22
4      30        Pablo Minissale  Centre-Back  Jan 14, 2001   23
5               Franco Ortellado  Centre-Back  May 30, 2001   22
6       2     Juan Pablo Pignani  Centre-Back   Jul 2, 2001   22
7       4        Santiago Flores  Centre-Back  Mar 25, 2001   22
8      19          Agustín Bravo  Centre-Back  May 11, 2001   22
9      47       Santiago Miranda  Centre-Back   Jun 1, 2001   22
10            Santiago Velásquez  Centre-Back  Apr 10, 2001   22
11                Agustín Lamosa  Centre-Back  Oct 17, 2001   22
12      2           Tamir Berman  Centre-Back  Feb 20, 2001   23
13     30           Gastón Ávila  Centre-Back  Sep 30, 2001   22
14     37        Ian Glavinovich  Centre-Back  Oct 27, 2001   22
15                 Joaquín Pombo  Centre-Back  Mar 18, 2001   23
16     15       Diego Calcaterra  Centre-Back  Jul 26, 2001   22
17     13        Alexis Alvariño  Centre-Back   Feb 1, 2001   23
18     16      Juan Cruz Guasone  Centre-Back  Mar 27, 2001   22
19     47         Gabriel Aranda  Centre-Back  Apr 16, 2001   22
20     34       Damián Fernández  Centre-Back   Jan 2, 2001   23
21     24     Santiago Laquidain  Centre-Back  Jul 28, 2001   22
22      3          Lautaro Spatz  Centre-Back  Oct 19, 2001   22
23     20         Elías Calderón  Centre-Back   Feb 4, 2001   23
24     37            Mateo Pérez  Centre-Back  Sep 11, 2001   22
25     14     Facundo Giacopuzzi  Centre-Back  Apr 26, 2001   22
26     24         Jeremías James  Centre-Back  Jan 29, 2001   23
27              Rodrigo Morínigo  Centre-Back   Mar 4, 2001   23
28               Alejo Rodríguez  Centre-Back   Jan 9, 2001   23
29             Leonardo Felissia  Centre-Back  Jul 27, 2001   22
30               Agustín Arcando  Centre-Back  Jul 13, 2001   22
31     23     Patricio Pernicone  Centre-Back   Jul 4, 2001   22
32                Imanol Segovia  Centre-Back   Feb 6, 2001   23
33                Pablo Casarico  Centre-Back  Apr 25, 2001   22
34                  Tomas Di Leo  Centre-Back  Apr 14, 2001   22
35                 Franco Troyes  Centre-Back   May 3, 2001   22
36     34  Juan Pablo Serrizuela  Centre-Back  May 10, 2001   22
37     25       Carlos Rodríguez  Centre-Back  May 21, 2001   22
38                Felipe Coronel  Centre-Back   Sep 3, 2001   22
39            Balthazar Bernardi  Centre-Back  Aug 10, 2001   22
40                  Mauro Villar  Centre-Back  Jan 11, 2001   23
41     31       Fernando Da Rosa  Centre-Back   Apr 2, 2001   22
42               Franco Lorenzon  Centre-Back  Mar 19, 2001   23
43     13       Santiago Morales  Centre-Back  Aug 27, 2001   22
44                Ezequiel Neira  Centre-Back   Mar 2, 2001   23
45                  Yago De Vito  Centre-Back   May 7, 2001   22
46                  Ivan Cardozo  Centre-Back  Apr 22, 2001   22
47              Federico Peralta  Centre-Back   Dec 3, 2001   22
48                   Enzo Torres  Centre-Back  Sep 20, 2001   22
49               Federico Moreno  Centre-Back  Feb 23, 2001   23
50                 Ulises Yegros  Centre-Back  Apr 21, 2001   22
51      5         Ismael Gassman  Centre-Back  May 14, 2001   22
52              Agustín Solveyra  Centre-Back   Jan 4, 2001   23
53                 Lucas Soraire  Centre-Back  Feb 15, 2001   23
54            Valentín Rodríguez  Centre-Back   Mar 5, 2001   23
55                  Román Suárez  Centre-Back  Feb 21, 2001   23
56                   Elías Fugas  Centre-Back   Jan 8, 2001   23
57                  Matías Ayala  Centre-Back  Dec 21, 2001   22
58                   Mauro Gomez  Centre-Back  Jul 25, 2001   22
59            Octavio Moscarelli  Centre-Back   Jan 8, 2001   23
60                   Bruno Abaca  Centre-Back   May 4, 2001   22
61                 Jano Martínez  Centre-Back  Feb 13, 2001   23
62                 Rober Colucci  Centre-Back   Feb 9, 2001   23
63                 Joaquín Barro  Centre-Back   Mar 9, 2001   23

                 Nationality Birth Country              Place of Birth
0         [Argentina, Italy]        Brazil                       Junín  \
1                [Argentina]        Brazil                Monte Grande
2                [Argentina]        Brazil                     Córdoba
3         [Argentina, Italy]        Brazil                     Córdoba
4                [Argentina]        Brazil                Buenos Aires
5                [Argentina]        Brazil                     Adrogué
6         [Argentina, Italy]        Brazil                      Leones
7                [Argentina]        Brazil         Colón, Buenos Aires
8                [Argentina]        Brazil                     Rafaela
9   [Switzerland, Argentina]        Brazil                    Eldorado
10               [Argentina]        Brazil               Puerto Madryn
11        [Argentina, Spain]        Brazil               Vicente López
12        [Argentina, Italy]        Brazil                     Rafaela
13               [Argentina]        Brazil                     Rosario
14      [Argentina, Croatia]        Brazil                   Elortondo
15        [Argentina, Italy]        Brazil                       Lanus
16               [Argentina]        Brazil                  Monte Buey
17               [Argentina]        Brazil                   Laferrere
18        [Argentina, Italy]        Brazil  San Nicolás de los Arroyos
19               [Argentina]        Brazil                      Ezeiza
20               [Argentina]        Brazil        San Antonio de Padua
21               [Argentina]        Brazil               Mar del Plata
22        [Argentina, Italy]        Brazil                Buenos Aires
23               [Argentina]        Brazil                     Córdoba
24               [Argentina]        Brazil                     Córdoba
25               [Argentina]        Brazil                       Tigre
26        [Argentina, Wales]        Brazil                      Trelew
27               [Argentina]        Brazil                       Salta
28               [Argentina]        Brazil           General Rodríguez
29               [Argentina]        Brazil
30               [Argentina]        Brazil              Las Isletillas
31               [Argentina]        Brazil        San Antonio de Padua
32               [Argentina]        Brazil                     Posadas
33        [Argentina, Italy]        Brazil             Lomas de Zamora
34               [Argentina]        Brazil                Buenos Aires
35        [Argentina, Italy]        Brazil
36               [Argentina]        Brazil                     Quilmes
37               [Argentina]        Brazil                      Trelew
38               [Argentina]        Brazil                     Rosario
39        [Argentina, Spain]        Brazil                Buenos Aires
40        [Argentina, Italy]        Brazil             Lomas de Zamora
41               [Argentina]        Brazil                      Gonnet
42               [Argentina]        Brazil                Buenos Aires
43               [Argentina]        Brazil                       Salta
44               [Argentina]        Brazil                     Laborde
45               [Argentina]        Brazil                 Ramos Mejía
46               [Argentina]        Brazil                       Garín
47               [Argentina]        Brazil                Monte Grande
48               [Argentina]        Brazil                    San Juan
49               [Argentina]        Brazil                     Córdoba
50               [Argentina]        Brazil                       Morón
51               [Argentina]        Brazil                    Santa Fe
52        [Argentina, Italy]        Brazil                Buena Italia
53               [Argentina]        Brazil
54               [Argentina]        Brazil
55               [Argentina]        Brazil
56               [Argentina]        Brazil
57               [Argentina]        Brazil                Buenos Aires
58        [Argentina, Spain]        Brazil
59               [Argentina]        Brazil                 Resistencia
60               [Argentina]        Brazil
61        [Argentina, Italy]        Brazil
62        [Argentina, Italy]        Brazil                     Mendoza
63      [Argentina, Bolivia]        Brazil                San Salvador

   Other Positions Height Market Value
0                    1,87       €6.00m
1                    1,78       €2.50m
2               RB   1,91       €1.70m
3                    1,86       €1.00m
4                    1,82        €400k
5                    1,88        €350k
6                    1,90        €250k
7                    1,83        €175k
8          LB   RB   1,85        €150k
9                    1,84        €150k
10              LB   1,85        €125k
11                   1,82        €100k
12                   1,95        €100k
13              LB   1,82       €5.00m
14                   1,83       €1.70m
15                   1,91       €1.50m
16         DM   CM   1,89        €500k
17         DM   RB   1,84        €350k
18                   1,97        €325k
19                   1,90        €200k
20                   1,79        €175k
21                   1,84        €150k
22              RB   1,84        €150k
23                   1,88        €100k
24                   1,89        €100k
25                   1,85        €100k
26                   1,91         €75k
27                                €50k
28                   1,90         €25k
29                   1,90         €25k
30                   1,84         €25k
31                   1,83         €25k
32                   1,91         €25k
33              CM   1,83         €10k
34              RB   1,80            -
35         DM   CM   1,88            -
36                   1,82            -
37                   1,86            -
38              RB   1,79         €75k
39                   1,87         €75k
40                   1,92         €25k
41              DM   1,81         €25k
42                   1,90         €25k
43                   1,89         €25k
44                   1,88         €25k
45                   1,83         €25k
46                   1,88         €10k
47                   1,85            -
48              DM   1,78            -
49              DM   1,90            -
50                   1,83            -
51                                   -
52              DM   1,86            -
53                   1,82            -
54                   1,84            -
55                   1,80            -
56                   1,90            -
57                   1,88            -
58              SW                   -
59                   1,84            -
60                   1,82            -
61                   1,87            -
62              RB   1,83            -
63                   1,91            -

## Merge all the dataframes into a single one and save the df into a csv file

In [337]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [338]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1174 entries, 0 to 1173
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1174 non-null   object
 1   Name             1174 non-null   object
 2   Position         1174 non-null   object
 3   Date of Birth    1174 non-null   object
 4   Age              1174 non-null   object
 5   Nationality      1174 non-null   object
 6   Birth Country    1174 non-null   object
 7   Place of Birth   1174 non-null   object
 8   Other Positions  1174 non-null   object
 9   Height           1174 non-null   object
 10  Market Value     1174 non-null   object
dtypes: object(11)
memory usage: 101.0+ KB

In [339]:
df_merged.to_csv("../../data/argentina/argentina_centerbacks.csv", header= True, index=False)