# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_26438/3657650218.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [215]:
#driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        

        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,30,Jerónimo Dómina,Centre-Forward,"Oct 17, 2005",18,[Argentina],Brazil,Santa Fe,RW,"1,74",€3.50m
1,50,Román Fernández,Centre-Forward,"Sep 23, 2005",18,[Argentina],Brazil,Dock Sud,,"1,72",€100k
2,49,Thiago Perugini,Centre-Forward,"Jan 10, 2005",19,[Argentina],Brazil,San Miguel,SS AM,"1,76",-
3,,Alexis González,Centre-Forward,"Jan 13, 2005",19,[Argentina],Brazil,Posadas,,"1,82",-
4,16,Santiago Hidalgo,Centre-Forward,"Feb 17, 2005",19,[Argentina],Brazil,Santiago del Estero,,"1,71",€400k
5,44,Matías Hernández,Centre-Forward,"Jan 6, 2005",19,[Argentina],Brazil,Carlos Casares,RW LW,"1,78",€25k
6,,Felipe Gorla,Centre-Forward,"May 31, 2005",18,[Argentina],Brazil,Ciudad Jardín,,"1,85",-
7,18,Mauricio Roldán,Centre-Forward,"Feb 10, 2005",19,[Argentina],Brazil,Llavallol,,"1,81",-

In [146]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_1999)

   Number                               Name        Position  Date of Birth
0      19                      Mateo Retegui  Centre-Forward  Apr 29, 1999   \
1       9                 Maximiliano Romero  Centre-Forward   Jan 9, 1999
2       9                       Adolfo Gaich  Centre-Forward  Feb 26, 1999
3       9                     Juan Miritello  Centre-Forward   Feb 8, 1999
4      30                       Enzo Cabrera  Centre-Forward  Nov 20, 1999
5      30                   Rodrigo Castillo  Centre-Forward  Feb 26, 1999
6      31                     Nazareno Bazán  Centre-Forward   Mar 8, 1999
7                                 Iván Maggi  Centre-Forward  Jun 14, 1999
8                            Franco Capitani  Centre-Forward  Jan 24, 1999
9                               Mauro Molina  Centre-Forward  Jul 29, 1999
10                               Mauro Verón  Centre-Forward  Jan 29, 1999
11                            Matías Córdoba  Centre-Forward  Apr 16, 1999
12                              Brian Duarte  Centre-Forward  Jun 15, 1999
13     34                     Matías Giménez  Centre-Forward   Mar 6, 1999
14      9                   Federico Girotti  Centre-Forward   Jun 2, 1999
15     27                    Nicolás Cordero  Centre-Forward  Apr 11, 1999
16     13                   Juan Manuel Cruz  Centre-Forward  Jul 19, 1999
17     33                 Nicolás Andereggen  Centre-Forward  Sep 22, 1999
18                             Kevin Retamar  Centre-Forward   Feb 6, 1999
19                          Lautaro Gordillo  Centre-Forward   Apr 6, 1999
20                             Renzo Reynaga  Centre-Forward   Jun 2, 1999
21                            Tomás Sandoval  Centre-Forward  Mar 30, 1999
22                             Valentin Jara  Centre-Forward  Mar 29, 1999
23                              Tomás Blanco  Centre-Forward  Mar 17, 1999
24     20                         Enzo Avaro  Centre-Forward  May 18, 1999
25      9                     Augusto Magoia  Centre-Forward   Jul 8, 1999
26                           Tadeo Marchiori  Centre-Forward  Oct 18, 1999
27     11                    Cristian Torres  Centre-Forward  Dec 24, 1999
28     42                       Nacho Falcón  Centre-Forward  Mar 10, 1999
29                         Franco Pulicastro  Centre-Forward  Sep 23, 1999
30                      Sebastián Malimberni  Centre-Forward  Jan 29, 1999
31                            Ivo Costantino  Centre-Forward   Jan 6, 1999
32                                Mauro Báez  Centre-Forward  Feb 14, 1999
33                          Santiago Emirian  Centre-Forward  Nov 22, 1999
34     27                    Gonzalo Barboza  Centre-Forward   Jun 4, 1999
35                          Fernando Cornero  Centre-Forward   Jan 1, 1999
36                           Javier Peñaloza  Centre-Forward  May 29, 1999
37                           Elías Gutierrez  Centre-Forward   Mar 4, 1999
38                              Juan Mendoza  Centre-Forward   Jan 6, 1999
39                             Matías Donato  Centre-Forward  Jan 15, 1999
40                             Agustín Gallo  Centre-Forward   Feb 2, 1999
41                          Francisco Galván  Centre-Forward  Jul 16, 1999
42                               Tomás Attis  Centre-Forward   Oct 2, 1999
43                            Ramón Villalba  Centre-Forward  Sep 16, 1999
44                         Ignacio Simionato  Centre-Forward  Apr 29, 1999
45                          Luciano Manrique  Centre-Forward   Feb 1, 1999
46                            Gustavo Castro  Centre-Forward   Mar 8, 1999
47     27                      Patricio Diez  Centre-Forward  Aug 10, 1999
48      9                      Agustín Ferro  Centre-Forward   Aug 3, 1999
49                              Brian Parada  Centre-Forward  Jun 22, 1999
50                       Martín Schlotthauer  Centre-Forward  Sep 22, 1999
51                          Nahuel Velásquez  Centre-Forward   Jan 1, 1999
52                            Bautista Godoy  Centre-Forward   Aug 9, 1999
53                            Nicolás Molina  Centre-Forward  Jan 28, 1999
54         Lautaro Francisco Travnik Trebino  Centre-Forward           N/A
55                             Rodrigo Soria  Centre-Forward   Feb 3, 1999
56                            Franco Gandini  Centre-Forward  Jul 16, 1999
57                          Joaquín Canteros  Centre-Forward  Jul 22, 1999
58                           Elvis Bahamonde  Centre-Forward   Apr 8, 1999
59                       Juan Cruz Anastasio  Centre-Forward  Aug 22, 1999
60                             Carlos Almada  Centre-Forward  Jan 17, 1999
61                            Federico Ortiz  Centre-Forward  Feb 24, 1999
62                             Tomás Segovia  Centre-Forward   Feb 8, 1999
63                              Javier Sotto  Centre-Forward   Feb 5, 1999
64     19                   Nicolas Johansen  Centre-Forward  Jan 23, 1999
65                              Tomás Gaitán  Centre-Forward   Mar 5, 1999
66                           Matías González  Centre-Forward   Jul 2, 1999
67                             Braian Nellen  Centre-Forward   Jul 4, 1999
68                     Lautaro Ruiz Martínez  Centre-Forward  Jan 27, 1999
69                            Leonel Martens  Centre-Forward   May 6, 1999
70                         Manuel Cordeviola  Centre-Forward  Feb 18, 1999
71                          Samuel Hernández  Centre-Forward  Jan 12, 1999
72                             Uriel Ramírez  Centre-Forward  Aug 19, 1999
73                          Khalil Caraballo  Centre-Forward   Jan 3, 1999
74                           Marcelo Olivera  Centre-Forward   Jan 4, 1999
75                        Juan Cruz Franzoni  Centre-Forward  Oct 17, 1999
76                               Franco Sosa  Centre-Forward  Sep 19, 1999
77                       Alan Marcel Picazzo  Centre-Forward  Jun 21, 1999

   Age               Nationality Birth Country
0   24        [Italy, Argentina]        Brazil  \
1   25               [Argentina]        Brazil
2   25        [Argentina, Italy]        Brazil
3   25               [Argentina]        Brazil
4   24               [Argentina]        Brazil
5   25               [Argentina]        Brazil
6   25               [Argentina]        Brazil
7   24               [Argentina]        Brazil
8   25        [Argentina, Spain]        Brazil
9   24               [Argentina]        Brazil
10  25               [Argentina]        Brazil
11  24               [Argentina]        Brazil
12  24               [Argentina]        Brazil
13  25               [Argentina]        Brazil
14  24        [Argentina, Italy]        Brazil
15  24               [Argentina]        Brazil
16  24        [Argentina, Italy]        Brazil
17  24  [Argentina, Switzerland]        Brazil
18  25               [Argentina]        Brazil
19  24               [Argentina]        Brazil
20  24               [Argentina]        Brazil
21  24               [Argentina]        Brazil
22  24      [Argentina, Croatia]        Brazil
23  25               [Argentina]        Brazil
24  24               [Argentina]        Brazil
25  24               [Argentina]        Brazil
26  24        [Argentina, Italy]        Brazil
27  24        [Argentina, Italy]        Brazil
28  25        [Argentina, Italy]        Brazil
29  24               [Argentina]        Brazil
30  25               [Argentina]        Brazil
31  25               [Argentina]        Brazil
32  25               [Argentina]        Brazil
33  24      [Argentina, Armenia]        Brazil
34  24               [Argentina]        Brazil
35  25               [Argentina]        Brazil
36  24               [Argentina]        Brazil
37  25               [Argentina]        Brazil
38  25               [Argentina]        Brazil
39  25        [Argentina, Italy]        Brazil
40  25               [Argentina]        Brazil
41  24               [Argentina]        Brazil
42  24               [Argentina]        Brazil
43  24               [Argentina]        Brazil
44  24               [Argentina]        Brazil
45  25               [Argentina]        Brazil
46  25               [Argentina]        Brazil
47  24               [Argentina]        Brazil
48  24        [Argentina, Italy]        Brazil
49  24               [Argentina]        Brazil
50  24               [Argentina]        Brazil
51  25               [Argentina]        Brazil
52  24               [Argentina]        Brazil
53  25               [Argentina]        Brazil
54  25        [Spain, Argentina]        Brazil
55  25               [Argentina]        Brazil
56  24        [Argentina, Spain]        Brazil
57  24               [Argentina]        Brazil
58  24               [Argentina]        Brazil
59  24               [Argentina]        Brazil
60  25               [Argentina]        Brazil
61  25               [Argentina]        Brazil
62  25               [Argentina]        Brazil
63  25               [Argentina]        Brazil
64  25               [Argentina]        Brazil
65  25               [Argentina]        Brazil
66  24               [Argentina]        Brazil
67  24               [Argentina]        Brazil
68  25               [Argentina]        Brazil
69  24               [Argentina]        Brazil
70  25               [Argentina]        Brazil
71  25               [Argentina]        Brazil
72  24               [Argentina]        Brazil
73  25        [Argentina, Syria]        Brazil
74  25               [Argentina]        Brazil
75  24               [Argentina]        Brazil
76  24               [Argentina]        Brazil
77  24               [Argentina]        Brazil

                        Place of Birth Other Positions Height Market Value
0                         San Fernando                   1,86      €16.00m
1                         Loma Hermosa              LW   1,80       €2.30m
2                              Córdoba                   1,90       €1.70m
3                                Luján                   1,82       €1.00m
4                              Casilda         LW   RW   1,75        €375k
5                        Venado Tuerto                   1,87        €275k
6                         Buenos Aires                   1,84        €225k
7                                Lanús                   1,78        €175k
8                    Alcorta, Santa Fe                               €150k
9                      Capital Federal                   1,83        €125k
10                          7 de Abril                   1,80        €100k
11                  San Pedro de Jujuy              AM   1,70        €100k
12                              Paraná         RW   LW   1,81         €50k
13                            San Juan              LW   1,85       €3.00m
14                            Acassuso                   1,90       €1.70m
15                        Buenos Aires                   1,85       €1.20m
16                        Buenos Aires                   1,85        €450k
17                  San Jerónimo Norte         LW   RW   1,76        €350k
18              Concepción del Uruguay              RW   1,75        €250k
19                          Río Grande                   1,83        €200k
20                      Puerto Deseado                   1,84        €175k
21                            Santa Fe                   1,85        €150k
22                   Rosario, Santa Fe                               €100k
23                             Chajarí              RM   1,82        €100k
24                       San Francisco                   1,84         €75k
25                       Gral. Cabrera                   1,85         €50k
26                             Mendoza                   1,83         €50k
27                                                       1,78         €25k
28                             Pehuajo         RW   SS   1,85         €25k
29                        Buenos Aires                   1,89         €25k
30                               Viale              SS   1,75         €10k
31                             Lincoln                   1,93         €10k
32                                                       1,80            -
33                                                  SS                   -
34                                                       1,72            -
35                                                       1,82            -
36                       Mendoza (MZA)                   1,76            -
37                                                       1,72            -
38                 José María Jáuregui                   1,78         €50k
39                Remedios de Escalada              LW   1,80         €50k
40                        Buenos Aires                   1,96         €25k
41                            Necochea                   1,90         €25k
42                             Córdoba                   1,83         €25k
43                         El Colorado                   1,74         €10k
44                                                       1,69            -
45                            San Juan              RW   1,75            -
46                                                                       -
47                        Buenos Aires              RW   1,68            -
48                             Mendoza         LW   RW                   -
49                        Gualeguaychú                   1,80            -
50                                                       1,82            -
51                        Buenos Aires                   1,78            -
52                                                       1,74            -
53                               Pilar                   1,94            -
54                        Buenos Aires              SS   1,90            -
55                             Mendoza              SS   1,83            -
56                             Mendoza         SS   RW                   -
57                         Resistencia                   1,87            -
58                              Esquel         RW   LW   1,74            -
59                       Villa Ramallo         RW   LW   1,74            -
60                                                       1,78            -
61                       San Francisco              SS                   -
62                        San Fernando                                   -
63              Concepción del Uruguay         RW   SS   1,78            -
64                            Bustinza                   1,82            -
65                                                                       -
66                                                       1,77            -
67                             Cordoba                   1,80            -
68                                                       1,85            -
69                              Tandil                   1,81            -
70                        Buenos Aires         SS   LW   1,83            -
71                                                       1,82            -
72                        Buenos Aires                   1,89            -
73                        Buenos Aires                   1,85            -
74                            Eldorado         LW   RW   1,80            -
75                              Paraná                   1,80            -
76                                                       1,71            -
77  Concepción del Uruguay, Entre Ríos         LW   RW   1,77            -

## Merge all the dataframes into a single one and save the df into a csv file

In [216]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [217]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1147 entries, 0 to 1146
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1147 non-null   object
 1   Name             1147 non-null   object
 2   Position         1147 non-null   object
 3   Date of Birth    1147 non-null   object
 4   Age              1147 non-null   object
 5   Nationality      1147 non-null   object
 6   Birth Country    1147 non-null   object
 7   Place of Birth   1147 non-null   object
 8   Other Positions  1147 non-null   object
 9   Height           1147 non-null   object
 10  Market Value     1147 non-null   object
dtypes: object(11)
memory usage: 98.7+ KB

In [218]:
df_merged.to_csv("../../data/argentina/argentina_centerforwards.csv", header= True, index=False)